@model Motorcycle.Models.Correocliente

@{
    Layout = null; // No usar el layout principal para el contenido del modal
}

<div class="modal-body">
    <h4 class="text-danger">¿Estás seguro de que deseas eliminar este correo de cliente?</h4>
    <div class="card mt-3">
        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-4">Correo</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.CorreoCliente)</dd>
                <dt class="col-sm-4">Cliente</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IdClienteNavigation.NombreCliente)</dd>
            </dl>
        </div>
    </div>
</div>
<div class="modal-footer">
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IdCorreoCliente" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </form>
</div>
