@model Motorcycle.Models.Correocliente

@{
    Layout = null; // Asegúrate de no usar el layout principal
}
<div class="container">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCorreoCliente" />
            <div class="form-group">
                <label asp-for="CorreoCliente1" class="control-label"></label>
                <input asp-for="CorreoCliente1" class="form-control" />
                <span asp-validation-for="CorreoCliente1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label">Nombre Cliente</label>
                <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
           
            <div class="form-group">
            <button type="submit" class="btn btn-custom-warning btn-sm mr-2">Guardar</button>
            <button type="button" class="btn btn-custom-primary btn-sm mr-2" data-bs-dismiss="modal">Cancelar</button>

        </div>
        
     </form>   
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
