@model Motorcycle.Models.Fichatecnica

@{
    Layout = null; // No usar el layout principal para el contenido del modal
}

<div class="container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FechaRegistroFichaTecnica" class="control-label"></label>
            <input asp-for="FechaRegistroFichaTecnica" class="form-control" />
            <span asp-validation-for="FechaRegistroFichaTecnica" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NumeroMotorFichaTecnica" class="control-label"></label>
            <input asp-for="NumeroMotorFichaTecnica" class="form-control" />
            <span asp-validation-for="NumeroMotorFichaTecnica" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CilindrajeFichaTecnica" class="control-label"></label>
            <input asp-for="CilindrajeFichaTecnica" class="form-control" />
            <span asp-validation-for="CilindrajeFichaTecnica" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PlacaFichaTecnica" class="control-label"></label>
            <input asp-for="PlacaFichaTecnica" class="form-control" />
            <span asp-validation-for="PlacaFichaTecnica" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MarcaFichaTecnica" class="control-label"></label>
            <input asp-for="MarcaFichaTecnica" class="form-control" />
            <span asp-validation-for="MarcaFichaTecnica" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ChacisFichaTecnica" class="control-label"></label>
            <input asp-for="ChacisFichaTecnica" class="form-control" />
            <span asp-validation-for="ChacisFichaTecnica" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ModeloFichaTecnica" class="control-label"></label>
            <input asp-for="ModeloFichaTecnica" class="form-control" />
            <span asp-validation-for="ModeloFichaTecnica" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IdCliente" class="control-label">Nombre Cliente</label>
            <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
        </div>
        <div class="form-group">
            <label asp-for="IdUsuario" class="control-label">Nombre Usuario</label>
            <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-custom-warning btn-sm mr-2" />
            <button type="button" class="btn btn-primarys btn-sm mr-2" data-bs-dismiss="modal">Cancelar</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
