@model Motorcycle.Models.Inventario

@{
    Layout = null; // No usar el layout principal para el contenido del modal
}

<div class="modal-body">
    <h4 class="text-danger">¿Estás seguro de que deseas eliminar este inventario?</h4>
    <div class="card mt-3">
        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-4">Cantidad</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.CantidadInventario)</dd>
                <dt class="col-sm-4">Fecha de Movimiento</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaMovimientoInventario)</dd>
                <dt class="col-sm-4">Valor Unitario</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ValorUnitarioInventario)</dd>
                <dt class="col-sm-4">Producto</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IdProductoNavigation.NombreProducto)</dd>
            </dl>
        </div>
    </div>
</div>
<div class="modal-footer">
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IdInventario" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </form>
</div>
