@model Motorcycle.Models.Inventario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inventario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdInventario" />
            <div class="form-group">
                <label asp-for="CantidadInventario" class="control-label"></label>
                <input asp-for="CantidadInventario" class="form-control" />
                <span asp-validation-for="CantidadInventario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaMovimientoInventario" class="control-label"></label>
                <input asp-for="FechaMovimientoInventario" class="form-control" />
                <span asp-validation-for="FechaMovimientoInventario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProducto" class="control-label">Nombre Producto</label>
                <select asp-for="IdProducto" class="form-control" asp-items="ViewBag.IdProducto"></select>
                <span asp-validation-for="IdProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorUnitarioInventario" class="control-label"></label>
                <input asp-for="ValorUnitarioInventario" class="form-control" />
                <span asp-validation-for="ValorUnitarioInventario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
