@model CorreoViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Enviar Correo";
}

<form asp-action="EnviarCorreo" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Para" class="control-label"></label>
        <input asp-for="Para" class="form-control" />
        <span asp-validation-for="Para" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Asunto" class="control-label"></label>
        <input asp-for="Asunto" class="form-control" />
        <span asp-validation-for="Asunto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mensaje" class="control-label"></label>
        <textarea asp-for="Mensaje" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Mensaje" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="fichero">Adjuntar Archivo</label>
        <input type="file" id="fichero" name="fichero" />
        <span asp-validation-for="Fichero" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
    <div>
        @ViewBag.Message
    </div>
</form>
