@model Motorcycle.Models.Cliente

@{
    Layout = null; // No usar el layout principal para el contenido del modal
}


<div class="container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DocumentoCliente" class="control-label"></label>
                <input asp-for="DocumentoCliente" class="form-control" />
                <span asp-validation-for="DocumentoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCliente" class="control-label"></label>
                <input asp-for="NombreCliente" class="form-control" />
                <span asp-validation-for="NombreCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoCliente" class="control-label"></label>
                <input asp-for="ApellidoCliente" class="form-control" />
                <span asp-validation-for="ApellidoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneroCliente" class="control-label"></label>
                <input asp-for="GeneroCliente" class="form-control" />
                <span asp-validation-for="GeneroCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCliente" class="control-label"></label>
                <input asp-for="EstadoCliente" class="form-control" />
                <span asp-validation-for="EstadoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWordCliente" class="control-label"></label>
                <input asp-for="PassWordCliente" class="form-control" />
                <span asp-validation-for="PassWordCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistroCliente" class="control-label"></label>
                <input asp-for="RegistroCliente" class="form-control" />
                <span asp-validation-for="RegistroCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <input type="submit" value="Crear" class="btn btn-custom-warning btn-sm mr-2" />
                <button type="button" class="btn btn-primarys btn-sm mr-2" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
