@model Motorcycle.Models.OrdentrabajoServicioHasProducto

@{
    Layout = null;
    ViewData["Title"] = "Edit";
}
<div class="container">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdOrdentrabajoServicioHasProductos" />
            <div class="form-group">
                <label asp-for="IdServicioOrdenTrabajo" class="control-label"></label>
                <select asp-for="IdServicioOrdenTrabajo" class="form-control" asp-items="ViewBag.IdServicioOrdenTrabajo"></select>
                <span asp-validation-for="IdServicioOrdenTrabajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProducto" class="control-label"></label>
                <select asp-for="IdProducto" class="form-control" asp-items="ViewBag.IdProducto"></select>
                <span asp-validation-for="IdProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioProductoOrdentrabajoServicioHasProductos" class="control-label"></label>
                <input asp-for="PrecioProductoOrdentrabajoServicioHasProductos" class="form-control" />
                <span asp-validation-for="PrecioProductoOrdentrabajoServicioHasProductos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-custom-warning btn-sm mr-2">Guardar</button>
                <button type="button" class="btn btn-custom-primary btn-sm mr-2" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
