@model Motorcycle.Models.Ordentrabajo

@{
    Layout = null; // No usar el layout principal para el contenido del modal
}

<div class="modal-body">
    <h4 class="text-danger">¿Estás seguro de que deseas eliminar esta orden de trabajo?</h4>
    <div class="card mt-3">
        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-4">Número de Orden</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NumeroOrdenTrabajo)</dd>
                <dt class="col-sm-4">ID de Cita</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IdCitaNavigation.IdCita)</dd>
                <dt class="col-sm-4">ID de Venta</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IdVentaNavigation.IdVenta)</dd>
            </dl>
        </div>
    </div>
</div>
<div class="modal-footer">
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IdOrdenTrabajo" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </form>
</div>
