@model Motorcycle.Models.Estadoventum

@{
    Layout = null; // Asegúrate de no usar el layout principal
}

<div class="container">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEstadoVenta" />
            <div class="form-group">
                <label asp-for="NombreEstadoVenta" class="control-label"></label>
                <input asp-for="NombreEstadoVenta" class="form-control" />
                <span asp-validation-for="NombreEstadoVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-custom-warning btn-sm mr-2">Guardar</button>
               <button type="button" class="btn btn-custom-primary btn-sm mr-2" data-bs-dismiss="modal">Cancelar</button>

            </div>
        </form> 
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
