@model Motorcycle.ViewModel.ProductoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoProducto" class="control-label"></label>
                <input asp-for="CodigoProducto" class="form-control" />
                <span asp-validation-for="CodigoProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreProducto" class="control-label"></label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionProducto" class="control-label"></label>
                <input asp-for="DescripcionProducto" class="form-control" />
                <span asp-validation-for="DescripcionProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoFile" class="control-label">Foto producto</label>
                <input asp-for="FotoFile" class="form-control" type="file" />
                <span asp-validation-for="FotoFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorUnitarioProducto" class="control-label"></label>
                <input asp-for="ValorUnitarioProducto" class="form-control" />
                <span asp-validation-for="ValorUnitarioProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
